<template name="home">
  <div id="app-wrapper">
    <div class="container">
      {{#if sphere.count}}
      <div class="row">
        <div class="col-md-12">
          {{> sphereItem sphere}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="item-title-bar">
            <button data-is-private="false" class="new-item btn btn-xs btn-success pull-right">NEW</button>      
            <div class="btn-group">
              <a class="btn dropdown-toggle" id="btn-menu" data-toggle="dropdown"><strong>PUBLIC ROOMS</strong> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="#"><strong>ALL ROOMS</strong></a></li>
                  <li><a href="#"><strong>MY ROOMS</strong></a></li>
              </ul>
            </div>
          </div>
          <div class="item-container">
            {{#if publicRooms}}
            <ul class="item-lister unstyled-list">
              {{#each publicRooms}}
                {{> roomItem}}
              {{else}}
                {{> roomEmptyItem}}
              {{/each}}
            </ul>
            {{else}}
              {{> spinner}}
            {{/if}}
          </div>
        </div>
        <div class="col-md-6">
          <div class="item-title-bar">
            <button data-is-private="true" class="new-item btn btn-xs btn-success pull-right">NEW</button>
            <div class="btn-group">
              <a class="btn dropdown-toggle" id="btn-menu" data-toggle="dropdown"><strong>PRIVATE ROOMS</strong> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="#"><strong>ALL ROOMS</strong></a></li>
              </ul>
            </div>
          </div>
          <div class="item-container">
            {{#if privateRooms}}
            <ul class="item-lister unstyled-list">
              {{#each privateRooms}}
                {{> roomItem}}
              {{else}}
                {{> roomEmptyItem}}
              {{/each}}
            </ul>
            {{else}}
              {{> spinner}}
            {{/if}}
          </div>
        </div>
      </div>
      {{else}}
      <div class="row">
        {{> sphereStarter}}
      </div>
      {{/if}}
    </div>
  </div>
</template>