<template name="layout">
  <div id="header-wrapper">
    <div class="container">
      {{> header}}
    </div>
  </div>
  <div id="main-wrapper">
    <div class="container">
      <div class="row">
        {{> errors}}
        {{> yield}}
      </div>
    </div>
  </div>
  <div id="footer-wrapper">
    <div class="container">
      {{> footer}}
    </div>
  </div>
  {{> modal}}
</template>