<template name="root">
  <div id="app-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>Welcome on ScriptChat ! ;-)</p>
        </div>
      </div>
    </div>
  </div>
</template>