<template name="footer">
  <div id="footer-wrapper">
    <ul class="list-unstyled" id="footer-lister">
      <li class="footer-item">
        <a href="#">About</a>
      </li>
      <li class="footer-item">
        <a href="#">Blog</a>
      </li>
      <li class="footer-item">
        <a href="#">Status</a>
      </li>
    </ul>
    <div id="scriptchat">
      <span><strong>ScriptChat <i class="version">0.0.1</i> - 2014</strong></span>
    </div>
  </div>
</template>