<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-scptchat">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{#if currentUser}}{{pathFor 'home'}}{{else}}{{pathFor 'root'}}{{/if}}">Otalkoo</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-scptchat">
        {{#if currentUser}}
        <ul class="nav navbar-nav" id="navbar-notifier">
          <li class="navbar-item"><span>Notifications</span> <span class="label label-warning" id="notif-counter">0</span></li>
        </ul>
        {{/if}}
        <ul class="nav navbar-nav navbar-right">
          <li>{{> loginButtons}}</li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</template>