<template name="roomCreate">
  <form name="room-new" role="form" id="room-new">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <span class="modal-title" id="modal-label">Create a new Room</span>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="name">NAME</label>
        <input name="name" type="text" class="form-control" value="" placeholder="Name your new Room" />
      </div>
      {{#if is_private}}
      <div class="form-group">
        <label for="invite-user">USERS</label>
        <ul class="entity-user-lister list-unstyled">
          {{#each invited}}
            {{> userInvited}}
          {{/each}}
        </ul>
        <div class="entity-input-wrapper">
          {{> inputAutocomplete settings=settings class="pull-left" id="invite-user" name="user" type="text" value="@" placeholder="Invit people" }}
          <img class="glyph-icon-m pull-right" src="/img/glyphicons/png/glyphicons_006_user_add_lighter.png" alt="user add glyphicon">
          <div class="clearfix"></div>
        </div>
      </div>
      {{/if}}
      <div class="form-group">
        <label for="is_private">VISIBILITY</label>
        <div class="checkbox">
          {{#if is_private}}
          <input type="hidden" name="is_private" value=true>
          <img class="glyph-icon-s" id="room-private" src="img/glyphicons/png/glyphicons_152_check.png" alt="checked glyphicon">
          {{else}}
          <input type="hidden" name="is_private" value=false>
          <img class="glyph-icon-s" id="room-public" src="img/glyphicons/png/glyphicons_153_unchecked.png" alt="unchecked glyphicon">
          {{/if}} <span>Private</span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <button type="submit" class="btn btn-success">Create</button>
    </div>
  </form>
</template>