<template name="roomEdit">
  <form name="room-edit" role="form" id="room-edit"  data-id={{_id}}>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <span class="modal-title" id="modal-label">Edit Room : <strong>{{name}}</strong></span>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="name">NAME</label>
        <input name="name" type="text" class="form-control" value="{{name}}" placeholder="Edit room name" />
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <button type="submit" class="btn btn-success">Save</button>
    </div>
  </form>
</template>

<template name="roomManagement">
  <form name="room-management" role="form" id="room-management"  data-id={{_id}}>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <span class="modal-title" id="modal-label">Manage <strong>{{name}}</strong> users</span>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="invite-user">USERS</label>
        <ul class="entity-user-lister list-unstyled">
          {{#each invited}}
            {{> userInvited}}
          {{/each}}
        </ul>
        <div class="entity-input-wrapper">
          {{> inputAutocomplete settings=settings class="pull-left" id="invite-user" name="user" type="text" value="@" placeholder="Invit people" }}
          <img class="glyph-icon-m pull-right" src="/img/glyphicons/png/glyphicons_006_user_add_lighter.png" alt="user add glyphicon">
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <button type="submit" class="btn btn-danger">Save</button>
    </div>
  </form>
</template>

<template name="roomDelete">
  <form name="room-delete" role="form" id="room-delete"  data-id={{_id}}>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <span class="modal-title" id="modal-label">Delete Room : <strong>{{name}}</strong></span>
    </div>
    <div class="modal-body">
      <span>Are you sure you want to delete the room : <i class="red"><strong>{{name}}</strong></i></span>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <button type="submit" class="btn btn-danger">Delete</button>
    </div>
  </form>
</template>