<template name="roomItem">
  <div class="room">
    <div class="room-header">
      <a class="room-title" href="{{pathFor 'roomPage'}}">{{name}}</a>
      {{#if is_private}}
      <img class="glyph-icon-xs room-lock" src="img/glyphicons/png/glyphicons_203_lock.png" alt="lock glyphicon">
      {{else}}
      <img class="glyph-icon-m room-group" src="img/glyphicons/png/glyphicons_043_group.png" alt="group glyphicon">
      {{/if}}
    </div>
    <div class="room-footer">
      <span><strong>CREATED BY <i class="red">{{created_by}}</i></strong></span> - <span><strong>CREATED ON <i>{{fromNow}}</i></strong></span>
    </div>
    {{#if owner}}
    <div class="room-editor">
      <a href="" class="btn dropdown-toggle" id="btn-edit" data-toggle="dropdown"><strong>EDIT</strong> <span class="caret"></span></a>
      <ul class="dropdown-menu room-edit-actions" role="menu" aria-labelledby="btn-edit">
        <li><a href="#" id="room-edit" data-id="{{_id}}">EDIT</a></li>
        {{#if is_private}}
        <li><a href="#" id="room-management" data-id="{{_id}}">MANAGE USERS</a></li>
        {{/if}}
        <li><a href="#" id="room-delete" data-id="{{_id}}">DELETE</a></li>
      </ul>
    </div>
    {{/if}}
  </div>
</template>

<template name="roomEmptyItem">
  <div class="room-empty">
    <span><strong>No rooms available</strong></span>
  </div>
</template>