<template name="roomPage">
  <div id="item-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <ol class="breadcrumb">
            <li><a href="{{pathFor 'home'}}">Rooms</a></li>
            <li class="active">{{name}}</li>
          </ol>
          <h3>{{name}} {{#if is_private}}<img class="glyph-icon-xs" id="room-lock" src="/img/glyphicons/png/glyphicons_203_lock.png" alt="lock glyphicon">{{/if}}</h3>
          <p><span><strong>CREATED BY <i class="red">{{created_by}}</i></strong></span> - <span><strong>CREATED ON <i>{{fromNow}}</i></strong></span></p>
          {{#if is_private}}
          <p>
            <img class="glyph-icon-m room-group pull-left" src="/img/glyphicons/png/glyphicons_043_group.png" alt="group glyphicon">
            <ul class="list-unstyled room-users-lister">
              {{#each users}}
                {{> participantItem}}
              {{/each}}
            </ul>
          </p>
          {{/if}}
          <div class="conversation-title-bar">
            <button class="new-conversation btn btn-xs btn-success pull-right" data-room-id="{{_id}}" data-is-private="{{is_private}}">NEW CONVERSATION</button>      
            <span><strong>CONVERSATIONS</strong></span>
          </div>
          <div class="conversation-container">
            <ul class="conversation-lister unstyled-list">
              {{#each conversations}}
                {{> conversationItem}}
              {{else}}
                {{> conversationEmptyItem}}
              {{/each}}
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div id="item-description">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>