/* CSS - Color
 * Creation   : 12/06/2014
 * Created by : Romain FONCIER
 * Target     : all
 * Comment : Contains all color classes.
 *
 * ------------------------------------------------------- */

 /* Color palette */
@bg: #E9EAE4;

// colors
@green: #5cb85c;
@yellow: #f0ad4e;
@red: #d9534f;
@light-orange: #FFF6E8;

.red { color: @red; }
.green { color: @green; }