/* Footer */
#footer-wrapper {
  margin-top: 20px;
  text-align: center;
  .footer-item {
    display: inline-block;
    margin: 0 10px;
  }
  #scriptchat {
    font-size: 12px;
    i {
      color: @red;
    }
  }
}