/* Header */
#header-wrapper {
  background-color: #aaa;
  border-bottom: 1px solid #eee;
  .box-shadow(0px 4px 6px 1px rgba(0, 0, 0, 0.2));
  #gradient.vertical(#fff, #F8F8F9);

  // Overrides TWBS
  .navbar { 
    margin: 0;
    border: 0;
    background-color: #fff;
    #gradient.vertical(#fff, #F8F8F9);
    .navbar-brand {
      padding: 15px 20px;
    }
    .navbar-collapse .nav {
      padding: 15px 20px;
      .navbar-item {
        margin: 0 10px;
      }
      .dropdown-menu {
        width: 220px;
      }
    }
  }
}