/* CSS - Icons
 * Creation   : 12/06/2014
 * Created by : Romain FONCIER
 * Target     : all
 * Comment : Contains all icons classes.
 *
 * ------------------------------------------------------- */

/* Icons */
.glyph-icon-xs { width: 10px; }
.glyph-icon-s { width: 14px; }
.glyph-icon-m { width: 16px; }

.profile-icon {
  width: 28px;
  padding: 2px;
}