/* CSS - Main
 * Creation   : 22/05/2014
 * Created by : Romain FONCIER
 * Target     : all
 * Comment :
 *
 * ------------------------------------------------------- */

/* Bootstrap dependencies */
@import "/packages/bootstrap3-less/bootstrap.import.less";

/* Color imports */
@import "color.import.less";

/* Fonts imports */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300");

/* Icons imports */
@import "icons.import.less";

body {
	background: @bg;
	font-family: "Open Sans", Helvetica, arial, serif;
	font-weight: 300;
	color: #666666;

  #main-wrapper {
    margin-top: 50px;
  }
}

/* Application imports */
@import "header.import.less";
@import "footer.import.less";

@import "sphere.import.less";

/* Utility imports */
@import "modal.import.less";

#spinner { height: 300px } 


/* Remaining to clean */

/* Users item modal */
.entity-user-lister {
  .entity-user-item {
    a.delete-user {
      &:hover { 
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}

/* Conversation Modal */
.entity-input-wrapper {
  padding: 4px 12px;
  border: 1px solid #ccc;
  .border-top-radius(3px);
  .border-bottom-radius(3px);
  .box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
  background-color: #fff;
  .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");
  &:focus {
    border-color: #66afe9;
    outline: 0;
    @shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    .box-shadow(@shadow);
  }
  input {
    border: 1px solid transparent;
    &:focus {
      outline: 0;
      .box-shadow(none);
    }
  }
  img {
    padding-top: 5px;
  }
}
.privacy-alert {
  font-size: 11px;
  font-weight: bold;
  color: @red;
}
.conversation-add-tag-lister {
  .conversation-tag-item {
    margin-right: 4px;
    a.delete-tag {
      color: #fff;      
      &:hover {
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}


.item-title-bar {
	background-color: #fff;
	.box-shadow(0px 1px 1px 1px rgba(0, 0, 0, 0.2));
	#btn-menu {
		background-color: #fff;
		font-size: 11px;
		box-shadow: none;
	}
	.btn-group.open .btn.dropdown-toggle {
		box-shadow: none;
	}
	.caret {
		margin: 0;
	}
	.dropdown-menu > li {
		font-size: 11px;
	}
  .new-item {
    margin: 4px 15px;
  }
}

/* Room page header */
h3 img#room-lock {
  margin-left: 5px;
}
p {
  margin-bottom: 5px;
  img.room-group {
    padding-top: 5px;
  }
  ul.room-users-lister {
    margin-left: 25px;
    li.room-users-item {
      display: inline-block;
      margin-right: 2px;
    }
  }
}

/* Room */
.item-container {
  margin-top: 5px;
  .item-lister { 
    margin: 0;
    padding: 0;
    .room {
      margin-bottom: 5px;
      padding: 10px;
      background-color: #fff;
      .box-shadow(0px 1px 1px 1px rgba(0, 0, 0, 0.2));
      .room-header {
        .room-title {
          font-size: 16px;
          cursor: pointer;
          &:hover {
            text-decoration: none;
          }
        }
        .room-lock, .room-group {
          padding-bottom: 4px;
        }
       }
      .room-footer {
        font-size: 11px;
        color: #777;
      }
      .room-editor {
        margin-top: 5px;
        padding-top: 5px;
        border-top: 1px dotted #ddd;
        #btn-edit {
          padding: 2px 0;
          font-size: 11px;
        }
        .room-edit-actions {
          position: absolute;
          top: auto;
          left: 14px;
          font-size: 11px;
        }
      }
    }
    .room-empty {
      padding: 10px 10px 8px 10px;
      border: 2px dashed #ccc;
      background-color: #eee;
      .border-top-radius(2px);
      .border-bottom-radius(2px);
      text-align: center;
      span {
        font-size: 14px;
      }
    }
  }
}

/* Conversation */
.conversation-title-bar {
  margin-bottom: 5px;
  padding: 5px 10px;
  background-color: #fff;
  .box-shadow(0px 1px 1px 1px rgba(0, 0, 0, 0.2));
}
.conversation-container {
  .conversation-lister {
    margin: 0;
    padding: 0;
    .conversation {
      margin-bottom: 5px;
      padding: 10px;
      background-color: #fff;
      .box-shadow(0px 1px 1px 1px rgba(0, 0, 0, 0.2));
      .conversation-body {
        .conversation-header {
          .conversation-title {
            font-size: 16px;
            cursor: pointer;
            &:hover {
              text-decoration: none;
            }
          }
          img.room-lock {
            padding-bottom: 4px;
          }
         }
        .conversation-footer {
          font-size: 11px;
          color: #777;
        }
        .conversation-tags {
          margin-top: 4px;
          padding-top: 2px;
        }
      }
      .conversation-play {
        display: none;
        padding: 15px 0;
        img {
          cursor: pointer;
        }
      }
      &:hover {
        .conversation-play {
          display: block;
        }
      }
    }
    .conversation.selected {
      background-color: #eee;
      .conversation-play {
        display: block;
      }
    }
    .conversation-empty {
      padding: 10px 10px 8px 10px;
      border: 2px dashed #ccc;
      background-color: #eee;
      .border-top-radius(2px);
      .border-bottom-radius(2px);
      text-align: center;
      span {
        font-size: 14px;
      }
    }
  }
}

/* Conversation Details */
#conversation-detail-fix {
  margin-top: 65px;
}
.conversation-details-container {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  .box-shadow(0px 1px 1px 1px rgba(0, 0, 0, 0.2));
  .conversation-details-title {
    .conversation-icon-settings {
      padding: 0 2px;
      a {
        &:hover { text-decoration: none; }
      }
      .conversation-edit-actions {
        top: auto;
        font-size: 11px;
      }
    }
    .conversation-details-title-container {
      font-size: 16px;
    }
  }
  .conversation-details-infos, .conversation-details-users {
    margin-bottom: 10px;
    padding: 5px 0;
    border-bottom: 1px dotted #777;
    p {
      margin: 0;
      font-size: 12px;
    }
  }
  .conversation-details-users-lister {
    margin-top: 5px;
    .conversation-details-users-item {
      span {
        color: #777;
      }
    }
  }
  .conversation-details-actions {
    margin-top: 5px;
    padding-top: 10px;
    border-top: 1px dotted #777;
    text-align: center;
  }
}

/* Posts */
#post-wrapper {
  margin-top: 20px;
  background-color: #eee;
  .box-shadow(0px 1px 1px 1px rgba(0, 0, 0, 0.2));
  #posts-container {
    max-height: 700px;
    padding: 20px 30px;
    overflow-y: auto;
    .post-item {
      margin-bottom: 10px;
      .post-user-picture {
        span.label {
          display: block;
        }
      }
      .post-content {
        padding: 0 50px;
        .post-body {
          margin-bottom: 2px;
          padding: 10px;
          .border-top-radius(4px);
          .border-bottom-radius(4px);
          background-color: #fff;
          .box-shadow(0px 1px 1px 1px rgba(0, 0, 0, 0.2));
        }
        .post-body.mine {
          background-color: @light-orange;
        }
        .post-meta {
          font-size: 11px;
        }
      }
    }
  }
  #post-sender-container {
    border-top: 1px solid #ddd;
    background-color: #fff;
    .post-sender-input {
      width: auto;
      margin-right: 72px;
      padding: 5.5px 5px;
      input {
        width: 100%;
        border: 1px solid transparent;
        &:focus {
          outline: 0;
          .box-shadow(none);
        }
      }
    }
    .post-sender-actions {
      width: 72px;
      padding: 5px;
      border-left: 1px solid #ddd;
      background-color: #FAFAFA;
      .post-sender-button {
        border: 0;
        background-color: transparent;
      }
    }
  }
}