/* Modal */
.modal-content {
  background-color: #eee;
  .modal-header .modal-title {
    font-size: 16px;
  }
  .modal-body {
    padding: 10px;
    background-color: #FAFAFA;
    .checkbox {
      margin: 0;
    }
  }
  .modal-footer {
    margin: 0;
    padding: 5px;
  }
}