.sphere-starter-wrapper {
  padding: 20px;
  border: 1px solid #ccc;
  .border-top-radius(4px);
  .border-bottom-radius(4px);
  background-color: #fff;
  .box-shadow(0px 4px 6px 1px rgba(0, 0, 0, 0.2));
  #gradient.vertical(#fff, #eee);
  text-align: center;
  .sphere-starter-picture-container {
    height: 160px;
    width: 160px;
    margin: auto;
    border: 5px solid #ccc;
    .border-top-radius(80px);
    .border-bottom-radius(80px);
    .box-shadow(0px 4px 6px 1px rgba(0, 0, 0, 0.3));
  }
  p.sphere-starter-message {
    margin: 10px 40px;
  }
  .separator-container {
    width: 60%;
    margin: auto;
    .horizontal-bar {
      display: block;
      width: 100%;
      margin: 10px 0px;
      overflow: hidden;
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      color: #aaa;
      &:before, &:after {
        display: inline-block;
        position: relative;
        height: 2px;
        content: "";
        vertical-align: middle;
        width: 50%;
        border-bottom: 1px solid #fff;
        background-color: #bbb;
      }
      &:before {
        right: 1em;
        margin-left: -50%;
      }
      &:after {
        left: 1em;
        margin-right: -50%;
      }
    }
  }
}