<template name="sphereStarter">
  <div class="col-md-8 col-md-offset-2">
    <div class="sphere-starter-wrapper">
      <div class="sphere-starter-picture-container"></div>
      <h3>Welcome to Otalkoo</h3>
      <p class="sphere-starter-message">To access <strong>Rooms</strong> and start a <strong>Conversation</strong> you need to create a new <strong>Sphere</strong> or join an existing.</p>
      <button class="btn btn-success" name="sphere-new" id="sphere-new">CREATE A NEW SPHERE</button>
      <div class="separator-container">
        <div class="horizontal-bar">OR</div>
      </div>
      <button class="btn btn-warning" name="sphere-join" id="sphere-join">JOIN AN EXISTING SPHERE</button>
    </div>
  </div>
</template>