<template name="sphereItem">
  <div class="sphere-wrapper pull-left">
    <div class="sphere-picture-container pull-left"></div>
    <div class="sphere-meta-container">
      <h3>{{name}}</h3>
      <span class="sphere-company-name">{{company}}</span> - <a href="{{url}}">{{url}}</a>
    </div>
  </div>
  <div class="sphere-settings-wrapper pull-right"></div>
  <div class="clearfix"></div>
</template>