<template name="userAutoComplete">
  <span>{{username}}</span>
</template>

<template name="userAutoCompleteNotFound">
  <span>Oups nobody here !</span>
</template>

<template name="userInvited">
  <li class="entity-user-item">
    <img class="profile-icon" src="/img/icons/team.png" alt="user default picture" data-toggle="tooltip" data-placement="top" title="{{this}}">
    <span><b class="red">@</b><i class="green">{{this}}</i></span> <a href="#" class="delete-user" data-name="{{this}}">&times;</a>
  </li>
</template>

<template name="participantItem">
  <li class="room-users-item">
    <span class="btn btn-default btn-xs">{{this}}</span>
  </li>
</template>