<template name="postItem">
  <li class="post-item">
    <div class="post-user-picture {{#if owner}}pull-left{{else}}pull-right{{/if}}">
      <img class="profile-icon" src="/img/icons/team.png" alt="user default picture" >
      {{#if owner}}
      <span class="label label-warning">ME</span>
      {{/if}}
    </div>
    <div class="post-content">
      <div class="post-body {{#if owner}}mine{{/if}}">{{message}}</div>
      <div class="post-meta">
        {{#unless owner}}
        <div class="pull-left post-author">
          <span>Posted by <i>{{created_by}}</i></span>
        </div>
        {{/unless}}
        <div class="pull-right post-date">
          <span>{{fromNow}}</span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </li>
</template>