<template name="conversationDetails">
  <div class="conversation-details-container">
    <div class="conversation-details-title">
      {{#if owner}}
      <div class="pull-right conversation-icon-settings">
        <a href="#" class="dropdown-toggle" id="icon-edit" data-toggle="dropdown">
          <img class="glyph-icon-m" src="/img/glyphicons/png/glyphicons_150_edit.png" alt="edit button glyphicon"><span class="caret"></span>
        </a>
        <ul class="dropdown-menu conversation-edit-actions" role="menu" aria-labelledby="icon-edit">
          <li><a href="#" id="conversation-edit" data-id="{{_id}}">EDIT</a></li>
          {{#if is_private}}
          <li><a href="#" id="conversation-management" data-id="{{_id}}">MANAGE USERS</a></li>
          {{/if}}
          <li><a href="#" id="conversation-delete" data-id="{{_id}}">DELETE</a></li>
        </ul>
      </div>
      {{/if}}
      <div class="conversation-details-title-container">
        <span><strong>{{name}}</strong></span>
      </div>
    </div>
    <div class="conversation-details-infos">
      <p><strong>CREATED BY</strong> <i class="red">{{created_by}}</i></p>
      <p><strong>CREATED ON</strong> <i class="green">{{fromNow}}</i></p>
    </div>
    <div class="conversation-details-users">
      <p><strong>USERS</strong></p>
      <span><strong><i class="red">{{connected}}</i> participant{{#if plural}}s{{/if}}</strong></span>
      <ul class="conversation-details-users-lister list-unstyled">
        {{#each users}}
          <li class="conversation-details-users-item">
            <img class="profile-icon" src="/img/icons/team.png" alt="user default picture" data-toggle="tooltip" data-placement="top" title="{{this}}">
            <span><b class="red">@</b><strong>{{this}}</strong></span>
          </li>
        {{/each}}
      </ul>
    </div>
    {{#if hasTags}}
    <div class="conversation-details-tags">
      <p><strong>TAGS</strong></p>
      <ul class="conversation-details-tags-lister list-unstyled">
        {{#each tags}}
          <li class="conversation-details-tags-item btn btn-primary btn-xs">{{this}}</li>
        {{/each}}
      </ul>
    </div>
    {{/if}}
    {{#unless isConversationPage}}
    <div class="conversation-details-actions">
      <a class="btn btn-warning" href="{{pathFor 'conversationPage'}}">JOIN CONVERSATION</a>
    </div>
    {{/unless}}
  </div>
</template>