<template name="conversationEdit">
  <form name="conversation-edit" role="form" id="conversation-edit" data-conversation-id="{{_id}}">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <span class="modal-title" id="modal-label">Edit Conversation</span>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="name">NAME</label>
        <input name="name" type="text" class="form-control" value="{{name}}" placeholder="Name your Conversation" autocomplete="off" />
      </div>
      {{#if parent_is_private}}
      <div class="form-group">
        <label for="name">PRIVACY</label>
        <img class="glyph-icon-m pull-right" id="conversation-privacy-infos" src="/img/glyphicons/png/glyphicons_195_circle_info_lighter.png" alt="circle info glyphicon">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-success btn-xs btn-privacy {{#unless is_private}}active{{/unless}}">
            <input type="radio" name="is_private" value="false"> Public
          </label>
          <label class="btn btn-warning btn-xs btn-privacy {{#if is_private}}active{{/if}}">
            <input type="radio" name="is_private" value="true"> Private
          </label>
        </div>
        <span class=" clearfix privacy-alert"></span>
      </div>
      {{/if}}
      <div class="form-group">
        <label for="is_private">TAGS</label>
        <ul class="conversation-add-tag-lister list-unstyled">
          {{#each tags}}
            {{> tagItem}}
          {{/each}}
        </ul>
        <div class="entity-input-wrapper">
          <input class="pull-left" id="add-new-tag" name="tag" type="text" value="" placeholder="Add tag" />
          <img class="glyph-icon-m pull-right" src="/img/glyphicons/png/glyphicons_065_tag_lighter.png" alt="tag add glyphicon">
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <button type="submit" class="btn btn-success">Save</button>
    </div>
  </form>
</template>

<template name="conversationManagement">
  <form name="conversation-management" role="form" id="conversation-management"  data-id={{_id}}>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <span class="modal-title" id="modal-label">Manage <strong>{{name}}</strong> users</span>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="invite-user">USERS</label>
        <ul class="entity-user-lister list-unstyled">
          {{#each invited}}
            {{> userInvited}}
          {{/each}}
        </ul>
        <div class="entity-input-wrapper">
          {{> inputAutocomplete settings=settings class="pull-left" id="invite-user" name="user" type="text" value="@" placeholder="Invit people" }}
          <img class="glyph-icon-m pull-right" src="/img/glyphicons/png/glyphicons_006_user_add_lighter.png" alt="user add glyphicon">
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <button type="submit" class="btn btn-danger">Save</button>
    </div>
  </form>
</template>

<template name="conversationDelete">
  <form name="conversation-delete" role="form" id="conversation-delete"  data-id={{_id}}>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <span class="modal-title" id="modal-label">Delete Conversation : <strong>{{name}}</strong></span>
    </div>
    <div class="modal-body">
      <span>Are you sure you want to delete the conversation : <i class="red"><strong>{{name}}</strong></i></span>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <button type="submit" class="btn btn-danger">Delete</button>
    </div>
  </form>
</template>