<template name="conversationItem">
  <div class="conversation" data-id={{_id}}>
    <div class="conversation-body pull-left">
      <div class="conversation-header">
        <a class="conversation-title" href="{{pathFor 'conversationPage'}}">{{name}}</a>
        {{#if is_private}}
        <img class="glyph-icon-xs room-lock" src="/img/glyphicons/png/glyphicons_203_lock.png" alt="lock glyphicon">
        {{else}}
        <img class="glyph-icon-m room-group" src="/img/glyphicons/png/glyphicons_043_group.png" alt="group glyphicon">
        {{/if}}
      </div>
      <div class="conversation-users">
        <span><strong><i class="red">{{connected}}</i> participant{{#if plural}}s{{/if}}</strong></span>
      </div>
      <div class="conversation-footer">
        <span><strong>CREATED BY <i class="red">{{created_by}}</i></strong></span> - <span><strong>CREATED ON <i>{{fromNow}}</i></strong></span>
      </div>
      <div class="conversation-tags">
        <ul class="conversation-tags-lister list-unstyled">
          {{#each tags}}
            <li class="conversation-tags-item btn btn-primary btn-xs">{{this}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="conversation-play pull-right">
      <img src="/img/glyphicons/png/glyphicons_220_play_button.png" alt="play button glyphicon">
    </div>
    <div class="clearfix"></div>
  </div>
</template>

<template name="conversationEmptyItem">
  <div class="conversation-empty">
    <span><strong>No conversations available</strong></span>
  </div>
</template>