<template name="conversationPage">
  <div id="item-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <ol class="breadcrumb">
            <li><a href="{{pathFor 'home'}}">Rooms</a></li>
            <li><a href="{{pathFor 'roomPage' _id=this.roomId}}">{{roomName}}</a></li>
            <li class="active">{{name}}</li>
          </ol>
        </div>
        <div class="col-md-3"></div>        
      </div>
      <div class="row">
        <div class="col-md-9">
          <h3>{{name}}</h3>
          <div id="post-wrapper">
            <div id="posts-container">
              <ul class="posts-lister list-unstyled">
                {{#each posts}}
                  {{> postItem}}
                {{/each}}
              </ul>
            </div>
            <div id="post-sender-container">
              <form name="post-new" role="form" id="post-new" data-conversation-id="{{_id}}">
                <div class="post-sender-actions pull-right">
                  <button type="submit" class="post-sender-button" id="post-submit">
                    <img class="glyph-icon-m" src="/img/glyphicons/png/glyphicons_421_send_lighter.png" alt="glyphicon send icon">
                  </button>
                  <button type="submit" class="post-sender-button" id="post-attach">
                    <img class="glyph-icon-m" src="/img/glyphicons/png/glyphicons_062_paperclip_lighter.png" alt="glyphicon paperclip icon">
                  </button>
                </div>
                <div class="post-sender-input">
                  <input id="send-post" class="post-sender-field" name="post" type="text" value="" placeholder="Send a post" autocomplete="off" />
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div id="conversation-detail-fix">
            {{> conversationDetails}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>